.profileBar {
  margin: 30px;
  padding: 20px;
  background-color: #f5f888;
}

.card-container {
  margin: 500px;
  padding: 20px;
}

.form {
  margin: 30px;
  padding: 20px;
}

.btn {
  margin-left: 500px;
  margin-right: 10px;
}

.login-form {
  margin-top: 320px;
  margin-left: 330px;
  margin-right: 330px;
}
